<h1>Sign In</h1>
<form action="<%=sessions_url%>" method="post">
    <label>Username<input type="text" name="user[username]" value="<%=@user.username%>"></label>
    <label>Password<input type="password" name="user[password]" value="<%=@user.password%>"></label>
    <button>Log In</button>
</form>
