<h1>Edit Post</h1>
<form action="<%= posts_url %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label>
        <input type="checkbox">
        <input type="text" name="post[title]">
    </label>

    <label>
        <input type="checkbox">
        <input type="text" name="post[content]">
    </label>
    <ul>
    <% @subs.each do |sub| %>
        <li>
            <label><%= sub.title %>
                <input type="checkbox" name="post[sub_id][]" value="<%= sub.id %>">
            </label>
        </li>
    <% end %>
    </ul>
    <button>Submit</button>
</form>
